<h1 class="display-3">Dragon Ball Z</h1>
<div class="container"> 
  <div class="row">
    <div class="row">
      <div class="col-md-6">
        <ul>
          <li>Krillin 1</li>
          <li>Goku 2</li>
          <li>Vegeta 3</li>
        </ul>
      </div>
      <div class="col-md-6">
        <!-- the (ngSubmit) is used to preventDefault when sending a form -->
        <form (ngSubmit)="send()">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" id="name">
          <label for="powerLvl">Power Level</label>
          <input type="number" class="form-control" name="powerLvl" id="powerLvl">
            <button type="submit" class="btn btn-primary mt-3">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
<hr>
